{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    {% block css %}

        <link rel="stylesheet" href="/styles/screen.css" type="text/css" %}

    {% endblock %}

    {% block javascript %}

    {% endblock %}
</head>
<body>

    <div id="wrapper">
        <div id="header-wrap">
            <div id="header">
                <div id="top-banner"></div>
            
            </div>
        </div>
        <div id="nav-wrap">
            <div id="nav">
                {% block nav %}
                    {% for post in nav_posts %}
                        <a class="nav-link" href="{{ post.get_absolute_url }}"> {{post.title}}</a><br/>

                    {% endfor %}

                {% endblock %}
            </div>
        </div>
        <div id="content-wrap"
            <div id="content">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    
    </div>
</body>
</html>
